{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Logo Static - {% endblock%}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header d-flex justify-content-between align-items-center">
    {% include 'partials/_header.html' %}
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                
                <div class="alert {{ message.tags }}" role="alert">
                    {{ message.message }}
                </div>                
            {% endfor %}
        </div>
    {% endif %}    
    <main class="login-main">
        {% block content %}

        {% endblock %}
    </main>
    {% include "components/_footer.html" %}
</body>
</html>